.tone1,
.tone2 {
  stroke: currentColor;
}

.two-tone-icon {
  --icon-tone1: rgb(var(--v-theme-Blue, #0047ab));
  --icon-tone2: rgb(var(--v-theme-Pink, #d4436d));

  .tone1 {
    stroke: var(--icon-tone1);
  }

  .tone2 {
    stroke: var(--icon-tone2);
  }
}
